@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500;700&family=Montserrat:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  background-color: #181719
}
.navbar{
  width: 95%;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar h1{
  font-size:2rem;
  border:2px solid #fff;
  padding:10px;
  font-family: 'Crimson Pro', serif;
  font-weight:200;
}
.nav-list li{
  display: inline-block;
  padding:10px 50px;
  margin-top:25px;
  font-size:1.3rem;
}


.nav-list li a{
  text-decoration: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
}

.nav-list li a:hover{
  border-bottom: 3px solid #fff;
}

.photo1{
  max-width: 600px;
  width:100%;
  height: auto;
}


/* SECOND SECTION */

.content{
  width: 100%;
  margin-top: 150px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.introduction{
  width: 350px;
  height:auto;
  margin-left:80px;
  margin-top:100px;
  padding:10px;
  line-height: 30px;
}

.introduction h1{
  font-size:35px;
  margin-bottom: 55px;
  font-family: 'Lora', serif;
  font-weight:500;
}

.introduction p{
  font-size:24px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
}

.introduction a{
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
}

.card{
  text-align: center;
  position: relative;
}

.tweet{
  position: absolute;
  background-color:#000;
  max-width:350px;
  width: 100%;
  right: 40px;
  bottom: -40px;
}

.profile{
  display: flex;
  flex-direction: row;
}

.profile img, .profile p{
  margin:10px;
}

.profile p{
  margin:15px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight:500;
}
.next-line{
  display:block;
}

.tweet-p{
  text-align:left;
  font-family: 'Lora', serif;
  font-weight:700;
  font-size:22px;
  padding:10px;
}

.photo2{
  border-radius:50%;
  max-width:70px;
}

section{
  padding-bottom: 60px;
}

footer{
  text-align:center;
  padding:20px;
  font-family: 'Montserrat', sans-serif;
  font-weight:500;

}

footer a{
  text-decoration:none;
}

footer a:hover{
  color: rgb(221, 46, 46);
  text-decoration:underline;
}
.icon{
  display:none;
  color: #fff;
  width:120px;
}

.display{
  display:none;
}
@media only screen and (max-width: 935px){
  .navbar{
    width:100%;
  }
  .nav-list{
    display: none;
  }
  .icon{
    display: inline-block;
  }
  .icon:hover{
    cursor: pointer;
    color: #a5a3a9;
  }
  .content{
    margin-top: 40px;
    flex-direction: column;
  }

  .card{
    padding-top:40px;
  }

  .introduction{
    margin-left: 30px;
  }
}